section {
    background-color:black;
}

.hero {
    height: 100vh;
    background-color: grey;
    font-size: 35px;
}

footer {
    height: 500px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 80px;
} 

nav {
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 30px;
}

li {
    width: 200px;
    text-decoration: none;
 
}
h1 {
    font-size: 80px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 30px;
    margin: 0;
}
.subtext {
    font-size: 15px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: red;
    text-align: center;
    font-size: 35px;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #6e0a0a85;
}

.button:active {
    color: #db4f4f33; 

}

.socials {
    padding-bottom: 200px;
    margin: 30px;
}

.social {
    margin: 20px;
}


.sub-section {
    display: flex;
    justify-content: space-around;
    color: white; 
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 80px;
}

.headshot {
    width: 250px;
    border-radius: 150px;
}

.headshot-stored {
    display: flex;
    align-items: center;
}
.project-doc {
    width: 300px;
    height: 500px;
    background-color: #3f3333;
    box-shadow: 5px 5px 20px #8b0d0d;
}

.project-stored {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-stored {
        display: flex;
        flex-wrap:  wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 200px;
    border-radius: 100px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    decoration: none;
    color: red;
}